.carousel--container {
  max-width: 1080px;  
  margin: 16px auto;
  background-color: pink;
  position: relative;
}
.carousel--container {
  display: block;
  max-width: 1060px;
  height: 300px;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  
}
.carousel-card--container {
  position: absolute;
  bottom: 28px;
  left: 34px;
  height: 146px;
  width: 330px;
  background-color: #fff;
  border-radius: 4px;

  
}