.carousel--container {
  max-width: 1080px;  
  margin: 16px auto;
  position: relative;
  display: block;
  max-width: 1060px;
  height: 300px;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;  
}

.carousel-card--container {
  position: absolute;
  bottom: 28px;
  left: 34px;
  height: 146px;
  width: 330px;
  background-color: #fff;
  border-radius: 4px;  
}
.carousel-card--container h2 {
  margin: 20px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 20px;
  color: #333;
  line-height: 1.5;
}
.carousel-card--container h3 {
  margin: 0 20px;
  height: 44px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.64;
  color: #333;
}
.carousel-card--container hr {
  height: 1px;
  background-color: #ececec;
  border: none;
}
.carousel-card--container .carousel-card--link {
  text-decoration: none;
  font-size: 14px;
  color: #36f;
  padding: 6px 8px;
  margin: 6px 0 0 13px;
}



.carousel--container button{
  border: none;
  cursor: pointer;
}
.carousel--container .prev_arrow {
  left: calc((100% - 1210px) / 2);
  position: absolute;
  top: 120px;
  width: 30px;
  height: 60px;
  opacity: .5;
  border-radius: 15px;
  background-color: #fff;
  font-size: 16px;
}
.carousel--container .next_arrow {
  right: calc((100% - 1210px) / 2);
  position: absolute;
  top: 120px;
  width: 30px;
  height: 60px;
  opacity: .5;
  border-radius: 15px;
  background-color: #fff;
  font-size: 16px;
}