.nav--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1080px;
  margin: 0 auto;
  height: 50px;
}

.nav-sub--container {
  margin: auto 0;
  display: flex;
  justify-content: space-between;
}
.nav-sub--container .logo {
  margin: auto 0;
  text-align: center;
  height: 17px;
  margin-left: 14px;
}
.nav-sub-menu--container {
  margin: auto 0;
  height: 24px;
}
.nav-sub-menu--container .nav-sub-menu {
  height: calc(100vh - 50px);
  width: 220px;
  padding-top: 10px;
  background-color: #fff;
  position: absolute;
  z-index: 3;
  opacity: 0; 
  visibility:hidden;
  transition: all 0.3s;
}
.nav-sub-menu--container:hover .nav-sub-menu{
  opacity: 1;
  visibility: visible;
}
.nav-sub-menu--container .nav-sub-menu li {
  padding: 0 20px;  
  font-size: 14px;
  line-height: 2.86;
  color: #333;
  font-weight: 700;
  height: 40px;
}
.nav-sub-menu--container .nav-sub-menu li:hover {
  color: #36f;
  background-color: #f7f9fa;
}


.nav-main--container {
  height: inherit;
}
.nav-main--container .nav-main--menu {  
  text-align: center;
}
.nav-main--container .nav-main--menu li {  
  height: inherit;
  font-size: 14px;
  display: inline-block;
  box-sizing: border-box;
}
.nav-main--container .nav-main--menu li:hover {  
  box-sizing: border-box;
  border-bottom: 3px solid #ddd;
}
.nav-main--container .nav-main--menu li a {
  position: relative;
  vertical-align: middle;
  line-height: 20px;
  font-weight: 600;
  padding: 15px;
  display: inline-block;
  text-decoration: none;
  color: #333;
}
.nav--container .nav-main--container .hidden {
  display: none;
}
.nav--container .nav-main--container .toggle {
  display: inline-block;
}



.nav--container .nav-icon--menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-icon--menu li button {
  border: 0;
  outline: 0;
  background-color: #fff;
  cursor: pointer;
}
.nav--container .nav-icon--menu .hidden {
  display: none;
}
.nav--container .nav-icon--menu .toggle {
  display: inline-block;
}


@media (min-width: 768px) and (max-width: 991px){
  .nav--container {
    height: 110px;
    margin: 0 auto;
    width: 90%;
  }
  .nav-sub--container {
    padding: 15px 0;
    width: inherit;
    justify-content: flex-start;
  }
  .nav-main--container {
    margin-right: 30px;    
    justify-content: flex-start;
    height: inherit;
  }
  .nav-main--container .nav-main--menu li {
    font-size: 13px;
  }
}

@media (max-width: 767px){
  .nav--container {
    height: 60px;
    width: 100%;
    padding: 15px 20px;
  }
  .nav-sub--container {    
    justify-content: flex-start;
    width: inherit;
  }
  .nav-main--container .nav-main--menu li {
    font-size: 13px;
    padding: 11px 10px 19px;
  }
  .nav--container .nav-main--container .hidden {
    display: inline-block;
  }
  .nav--container .nav-main--container .toggle {
    display: none;
  }
  .nav--container .nav-icon--menu .hidden {
    display: inline-block;
  }
  .nav--container .nav-icon--menu .toggle {
    display: none;
  }
}