.nav--container {
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  margin: 0 auto;
  height: 60px;
}


.nav-sub--container{
  margin: auto 0;
  display: flex;
  justify-content: space-between;
}
.nav-sub-menu--container {
  margin: auto 0;
  height: 24px;
}
.nav-sub-menu--container .nav-sub--menu {
  height: 100vh;
  padding-top: 10px;
  background-color: #f8f8fa;
  position: absolute;
  z-index: 3;
  opacity: 0; 
  visibility:hidden;
  transition: all 0.3s;
}
.nav-sub-menu--container:hover .nav-sub--menu{
  opacity: 1;
  visibility: visible;
}
.nav-sub-menu--container .nav-sub--menu li {
  margin: 0 20px;
  font-size: 14px;
  line-height: 2.86;
  color: #333;
  font-weight: 700;
  height: 40px;
}
.nav-sub-menu--container .nav-sub--menu li:hover {
  color: #36f;
}
.nav-sub--container .logo {
  margin: auto 0;
  text-align: center;
  height: 17px;
  margin-left: 14px;
}


.nav-main--container {
  margin: auto 0;
}
.nav-main--container .nav-main--menu {  
  height: 24px;
  display: flex;
  align-items: center;
}
.nav-main--container .nav-main--menu li {
  margin: 0 16px;
  font-size: 14px;
}
/* .nav-main--container .nav-main--menu li:hover {
  border-bottom: 1px solid #ddd;
} */


.nav-icon--container {
  margin: auto 0;
}
.nav-icon--container .nav-icon--menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-icon--container .nav-icon--menu li {
  margin: auto 8px;
}