.nav--container {
  display: flex;
  justify-content: space-between;
  width: 1080px;
  margin: 8px auto;
  height: 60px;
}


.nav-sub--container {
  background-color: lightblue;
  margin: auto 0;
  height: 24px;
}
.nav-sub--container .logo {
  height: 17px;
  margin-left: 16px;
}
.nav-sub--container .nav-sub--menu {
  background-color: lightblue;
  position: absolute;
  z-index: 3;
  opacity: 0; 
  visibility:hidden;
  transition: all 0.3s;
}
.nav-sub--container:hover .nav-sub--menu{
  opacity: 1;
  visibility: visible;
}
.nav-sub--container .nav-sub--menu li {
  margin: 20px 16px;
  font-size: 14px;
}


.nav-main--container {
  background-color: lightcoral;
  margin: auto 0;
}
.nav-main--container .nav-main--menu {
  border: 1px solid black;
  display: flex;
}
.nav-main--container .nav-main--menu li {
  margin: 0 16px;
  font-size: 14px;
}

.nav-icon--container {
  background-color: lightgoldenrodyellow;
  margin: auto 0;
}
.nav-icon--container .nav-icon--menu {
  display: flex;
  justify-content: space-around;
}
.nav-icon--container .nav-icon--menu li {
  margin: 0 8px;
}